@model Mostlylucid.Models.Search.SearchResultsModel

@{
    ViewBag.Title = "Search Results";
}

<title>@ViewBag.Title</title>

<form
    x-data="{
        query: '@Model.Query',
        autoSearch: true, 
        checkSubmit() { 
            if (this.autoSearch && this.query.length > 2) { 
                $refs.searchButton.click(); 
            } 
        }
    }"
    class="flex items-center gap-2 bg-neutral-500 bg-opacity-10 p-2 rounded-lg"
    action="@Url.Action("Search", "Search")"
    hx-push-url="true"
    hx-boost="true"
    hx-target="#content"
    hx-swap="outerHTML show:window:top"
    hx-headers='{"pagerequest": "true"}'>

    <button
        type="submit"
        x-ref="searchButton"
        class="btn btn-outline btn-sm flex items-center gap-2 text-black dark:text-white">
        Search
        <i class="bx bx-search text-lg"></i>
    </button>

    <input
        type="text"
        placeholder="Search..."
        name="query"
        value="@Model.Query"
        x-model="query"
        x-on:input.debounce.200ms="checkSubmit"
        x-on:keydown.enter.prevent="$refs.searchButton.click()"
        class="input input-sm border-0 grow text-black dark:text-white bg-transparent focus:outline-none"
    />

    <label class="flex items-center gap-2">
        <input
            type="checkbox"
            x-model="autoSearch"
            class="checkbox checkbox-primary"
        />
        <span class="text-black dark:text-white">Auto</span>
    </label>
</form>


@if(Model.Query?.Length > 0)
{
    <partial name="_SearchResultsPartial" model="Model.SearchResults"></partial>
} 
else
{
    <div id="content" class="pt-2 h-1/2 text-center text-lg text-black dark:text-white">
        Please enter a search term.
    </div>
}