@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-red {
    --tw-bg-opacity: 1;
    background-color: rgb(128 0 0 / var(--tw-bg-opacity));
}

.hover\:bg-red:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(128 0 0 / var(--tw-bg-opacity));
}
.svg-container
{
    width:20rem;
}


#contentcontainer {
    height: 100%;
}


:root {
    --s: 0.543 0.115 62.352;/* Example values for OKLCH */
    --fallback-s: #9e5e17; /* Fallback to your secondary color */
}


.borderbutton {
    @apply flex items-center ml-4 mb-2 bg-blue-dark outline outline-1 p-2 mt-4 text-center rounded-btn font-body text-xl font-semibold text-white transition-colors hover:bg-red sm:inline-block sm:text-left sm:text-xl;
}

@media print {
    .svg-container {
        width: 20rem;
        height: auto;
    }
    body {
        margin: 0;
        padding: 0;
    }
    img, svg {
        max-width: 100%;
        height: auto;
    }
    /* Other print-specific styles */
}
.img-filter-dark {
    filter: invert(1) hue-rotate(180deg);
}



html {
    @apply font-body antialiased;
}




.twitter-card {
    @apply mt-8 mb-8 rounded bg-yellow-lighter px-6 py-8 sm:mt-10 sm:mb-10 md:px-10;

    & &-title {
        @apply mt-0 font-body text-lg font-normal text-blue-dark dark:text-blue-dark sm:text-xl;
    }

    & &-source {
        @apply block pt-2 font-body text-sm font-light text-blue-dark underline;
    }

    & &-btn {
        @apply mt-8 mb-0 inline-block border border-blue-dark px-5 py-2 font-body font-semibold text-blue-dark no-underline transition-colors hover:bg-primary hover:text-white sm:mb-4;
    }
}

.pagination {
    @apply flex list-none p-0 m-0 justify-center items-center flex-wrap; /* Added flex-wrap */
}

.page-item {
    @apply mx-1 text-black dark:text-white opacity-80 rounded outline outline-1  outline-neutral-700 dark:outline-neutral-400;
}

.page-item a {
    @apply block rounded-md transition duration-300 ease-in-out text-sm sm:text-base px-3 py-1; /* Responsive font size and padding */
    @apply min-w-8 min-h-6; /* Fixed width and height */
    @apply flex items-center justify-center; /* Center text horizontally and vertically */
}

.page-item a:hover {
    @apply bg-blue-dark text-white opacity-100;
}


.page-item.active {
    @apply bg-blue-dark opacity-100;
}

.page-item.active a {
    @apply text-white border border-blue-dark;
}

.page-link {
    @apply block text-neutral-700 dark:text-grey text-sm sm:text-base; /* Responsive padding and font size */
}

.page-item.disabled a.page-link {
    @apply  text-neutral-500 dark:text-neutral-700 pointer-events-none cursor-not-allowed;
}

.page-item:focus a,
.page-item a:focus {
    @apply outline-none; /* Tailwind's outline class could be used if custom color needed */
}

.border-gray-light {
    @apply border border-grey;
}