@using RazorLight
@inherits TemplatePage<Mostlylucid.Shared.Models.Email.CommentEmailModel>
<!DOCTYPE html>
<html>
<head>
    <title>Comment Email</title>
</head>
<body>
<h1>Comment Email</h1>
<p>New comment from email @Model.SenderEmail</p>
<div>@Raw(@Model.Content)</div>

<a href="@Model.PostUrl">View Post</a>

</body>
</html>