@model Mostlylucid.Models.IndexPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="border-b border-grey-lighter ">
    <div class="flex items-center space-x-4">
        <img src="/img/author.png?format=webp&quality=15" asp-append-version="true" class="h-16 w-16 mask mask-circle" alt="author"/>
        <h1 class="font-body text-xl font-semibold text-blue-dark dark:text-white md:text-xl lg:text-xl pl-4">
            Hi, I’m Scott Galloway
        </h1>
    </div>
    <p class="pt-3 font-body text-lg font-medium text-blue-dark  dark:text-white">
        This is a *work in process* site where I share my thoughts, ideas, and projects. I'm always building SOMETHING so decided too share both how I build these somethings and what I build.
        Note this site is currently being developed you can see the code <a href="https://github.com/scottgal/mostlylucidweb" class="text-green">here</a>. Bits will be broken or missing, but that's the fun of it. If you have any comments / suggestions / feedback please let me know on <a href="https://hachyderm.io/@("@")scottgal@("@")hachyderm.io" class="text-green">Mastodon </a>
    </p>
    <p class="pt-3 font-body  text-left font-medium text-blue-dark light:text-black dark:text-white">
        I'm a consulting web developer, specializing in .NET Core, remote working, full-stack (ANY JavaScript framework), cloud, search technologies, running teams, bootstrapping startups etc..etc...<br/>
        I'm a former Microsoft ASP.NET Program manager & have worked for numerous fortune 500, and a multitude of startups and have been building web applications for over 30 years.<br/>
        If you think I can help you with your project on a contract, full time or consultancy basis (days here and there), please get in touch.<br/>
    </p>
    <div class="items-center flex justify-center pb-4 ">
        <a
            href="https://www.linkedin.com/in/scott-galloway-91608691/"
            class="flex items-center  mb-2 bg-yellow-dark outline outline-1 px-2 py-2 mt-4 text-center rounded-btn font-body text-xl font-semibold text-white transition-colors hover:bg-red sm:inline-block sm:text-left sm:text-xl">
            <i class="text-xl text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-linkedin"></i>
            Hire Me!
        </a>
        <a href="https://1drv.ms/w/s!Ap2OEgQ4A-EOgsg8mbO8MBO-f4ilow?e=hSScxb"  data-umami-event="Word Resume Click"  target="_blank" class="flex items-center ml-4  mb-2 bg-blue-dark outline outline-1 px-2 py-2 mt-4 text-center rounded-btn font-body text-xl font-semibold text-white transition-colors hover:bg-red sm:inline-block sm:text-left sm:text-xl">
            <i class="text-xl text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-microsoft"></i>
            My Resume (Word)
            
        </a>

        <a href="  https://1drv.ms/b/s!Ap2OEgQ4A-EOgvQzjLb783Ib8roa7Q?e=x9ER1a"  data-umami-event="PDF Resume Click" target="_blank" class="flex items-center ml-4  mb-2 bg-blue-dark outline outline-1 px-2 py-2 mt-4 text-center rounded-btn font-body text-xl font-semibold text-white transition-colors hover:bg-red sm:inline-block sm:text-left sm:text-xl">
            <i class="text-xl text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors bx bxs-file-pdf"></i>
            My Resume (PDF)

        </a>

      
    </div>
</div>

<div class="pt-4 lg:pt-4">
    <div class="flex items-center pb-2">
        <img src="/img/icon-blog.png" class="w-8" alt="icon story"/>
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            Blog Posts
        </h3>
        <a href="/blog" class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary">
            All posts
            <img src="/img/long-arrow-right.png" class="ml-3" alt="arrow right"/>
        </a>
        <a href="/rss" target="_blank" class="ml-3 pl-10 flex items-center">
            <i class="text-4xl text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors bx bx-rss"></i>
            RSS
        </a>
 
    </div>
        <partial name="_BlogSummaryList" model="Model.Posts"/>
 
</div>