@model Mostlylucid.Models.IndexPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="border-b border-grey-lighter ">
    <div>
        <img src="img/author.png" asp-append-version="true" class="h-16 w-16 mask mask-circle" alt="author"/>
    </div>
    <h1
        class="pt-3 font-body text-2xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
        Hi, I’m Scott Galloway
    </h1>
    <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
        This is a *work in process* site where I share my thoughts, ideas, and projects. I'm always building SOMETHING so decided too share both how I build these somethings and what I build.
        Note this site is currently being developed you can see the code <a href="https://github.com/scottgal/mostlylucidwebsite" class="text-green">here</a>. Bits will be broken or missing, but that's the fun of it. If you have any comments / suggestions / feedback please let me know on <a href="https://hachyderm.io/@("@")scottgal@("@")hachyderm.io" class="text-green">Mastodon </a>
    </p>
    <p class="pt-3 font-body text-center font-light text-white dark:text-white">
        I'm a consulting web developer, specializing in .NET Core, remote working, full-stack (ANY JavaScript framework), search technologies, running teams, bootstrapping startups etc..etc...

        <a
            href="https://www.linkedin.com/in/scott-galloway-91608691/"
            class=" block mb-2 bg-blue-dark px-2 py-2 mt-4 text-center rounded-btn font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl">
            Hire Me!
        </a>
    </p>
  
</div>

<div class="py-4 lg:py-4">
    <div class="flex items-center pb-2">
        <img src="img/icon-blog.png" class="w-8" alt="icon story"/>
        <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            Blog Posts
        </h3>
        <a href="/blog" class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary">
            All posts
            <img src="img/long-arrow-right.png" class="ml-3" alt="arrow right"/>
        </a>
    </div>

    <!-- Legend and Categories List -->
    <div class="">
        <h4 class="font-body text-lg text-primary dark:text-white">Categories</h4>
        <div class="flex flex-wrap gap-2 pt-2">
            @foreach (var category in Model.Categories)
            {
            <a hx-controller="Blog" hx-action="Category" hx-push-url="true" hx-get hx-target="#contentcontainer" hx-route-category="@category" href>
                <span class="inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green">@category</span>
            </a>
            }
        </div>
    </div>

    <div class="pt-8" id="content">
        <partial name="_BlogSummaryList" model="Model.Posts"/>
    </div>
</div>