@model Mostlylucid.Models.IndexPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="border-b border-grey-lighter ">
    <div>
        <img src="img/author.png" asp-append-version="true" class="h-16 w-16 mask mask-circle" alt="author"/>
    </div>
    <h1
        class="pt-3 font-body text-2xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
        Hi, I’m Scott Galloway
    </h1>
    <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
        This is a *work in process* site where I share my thoughts, ideas, and projects. I'm always building SOMETHING so decided too share both how I build these somethings and what I build.
        Note this site is currently being developed you can see the code <a href="https://github.com/scottgal/mostlylucidwebsite" class="text-green">here</a>. Bits will be broken or missing, but that's the fun of it. If you have any comments / suggestions / feedback please let me know on <a href="https://hachyderm.io/@("@")scottgal@("@")hachyderm.io" class="text-green">Mastodon </a>
    </p>
    <a
        href="/"
        class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl">
        Say Hello!
    </a>
</div>

<div class="py-16 lg:py-20">
    <div class="flex items-center pb-6">
        <img src="img/icon-blog.png" class="w-8" alt="icon story"/>
        <h3
            class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">
            Blog Posts
        </h3>
        <a
            href="/blog"
            class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary">
            All posts
            <img
                src="img/long-arrow-right.png"
                class="ml-3"
                alt="arrow right"/>
        </a>
    </div>
    <div class="pt-8" id="content">
        <partial name="_BlogSummaryList" model="Model.Posts"/>
    </div>
</div>