@model List<Mostlylucid.Models.Blog.PostListModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="pt-16 lg:pt-20">
    <partial name="_BlogSummaryList" model="Model" />
</div>