@model Mostlylucid.Models.Blog.PostListViewModel

@{
    ViewBag.Title = "Blog Posts";
    Layout = "_Layout";
}

<div class="pt-2 lg:pt-2">
    <partial name="_BlogSummaryList" model="Model" />
</div>