@model Mostlylucid.Models.Blog.PostListViewModel
<div class="pt-2" id="content">

   
    <div class="inline-flex w-full items-center justify-center print:!hidden">
        @if (Model.TotalItems > Model.PageSize)
        {
        <pager
            x-ref="pager"
            link-url="@Model.LinkUrl"
            hx-boost="true"
            hx-target="#content"
            hx-swap="show:none"
            page="@Model.Page"
            page-size="@Model.PageSize"
            total-items="@Model.TotalItems"
            hx-headers='{"pagerequest": "true"}'>
        </pager>
        }
<partial name="_Pager" model="Model"/>

    </div>
    
    @if (ViewBag.Categories != null)
    {
        <div class="mb-8 mt-6 border-neutral-400 dark:border-neutral-600 border rounded-lg" x-data="{ showCategories: false }">
            <h4 
                class="px-5 py-1 bg-neutral-500  bg-opacity-10 rounded-lg  font-body text-primary dark:text-white w-full flex justify-between items-center cursor-pointer"
                x-on:click="showCategories = !showCategories"
            >
                Categories
                <span>
                    <i
                        class="bx text-2xl"
                        :class="showCategories ? 'bx-chevron-up' : 'bx-chevron-down'"
                    ></i>
                </span>
            </h4>
            <div 
                class="flex flex-wrap gap-2 pt-2 pl-5 pr-5 pb-2"
                x-show="showCategories" 
                x-cloak
                x-transition:enter="max-h-0 opacity-0"
                x-transition:enter-end="max-h-screen opacity-100"
                x-transition:leave="max-h-screen opacity-100"
                x-transition:leave-end="max-h-0 opacity-0"
            >
                @foreach (var category in ViewBag.Categories)
                {
                    <partial name="_Category" model="category"/>
                }
           
            </div>
        </div>

    }
    @foreach (var post in Model.Posts)
    {
        <partial name="_ListPost" model="post"/>
    }
</div>