@model (string slug, string[] languuages, string? selectedLanguage)


@foreach (var language in Model.languuages)
{
var active= "opacity-50 hover:opacity-100";
    if (language == Model.selectedLanguage)
    {
        active = "opacity-100";
    }
        <a hx-boost="true" hx-target="#contentcontainer" asp-action="Language" asp-controller="Blog" asp-route-slug="@Model.slug" asp-route-language="@language" class="rounded outline outline-1  outline-green-dark dark:outline-white inline-block w-6 h-4  @active">
            <img src="~/img/flags/@(language).svg" alt="@language" class="rounded" />
        </a>
}