@model (string slug, string[] languuages)


@foreach (var language in Model.languuages)
{
  
        <a hx-boost="true" hx-target="#contentcontainer" asp-action="Language" asp-controller="Blog" asp-route-slug="@Model.slug" asp-route-language="@language" class="rounded outline outline-1  outline-green-dark dark:outline-white inline-block w-8 h-5">
            <img src="~/img/flags/@(language).svg" alt="@language" class="rounded" />
        </a>
}