<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"
    />

    <title>@ViewBag.Title</title>

    <meta property="og:title" content="Homepage" />

    <meta property="og:locale" content="en_US" />

 

    <meta
        name="description"
        content="Scott Galloway is a lead developer and software engineer with a passion for building web applications."
    />

    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <meta property="og:site_name" content="mostlylucid" />

    <meta property="og:image" content="/img/social.jpg"/>

    <meta name="twitter:card" content="summary_large_image" />
 
   

    <link
        crossorigin="crossorigin"
        href="https://fonts.gstatic.com"
        rel="preconnect"
    />

    <link
        as="style"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="preload"
    />

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    />

    <link
        rel="stylesheet"
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

    <link
        
        
        crossorigin="anonymous"
        href="/css/dist/main.css" asp-append-version="true"
        media="screen"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
   

    <!--Alpine Js V3-->
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J9VJNKV3PV');
</script>

<body

    class="dark:bg-primary"
>

<div id="main">
    <div class="container mx-auto" >
        <div class="flex items-center justify-between py-6 lg:py-10">
            <a href="/" class="flex items-center">
                <span class="mr-2">
                    <div class="svg-container">
                        <img src="/img/logo.svg" alt="logo"/>
                    </div>
                    <partial name="_Socials"/>
                </span>
            </a>
            <div class="hidden lg:block">
                <ul class="flex items-center">

                    <li class="group relative mr-6 mb-1">
                        <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                        ></div>
                        <a
                            href="/"
                            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >Intro</a>
                    </li>

                    <li class="group relative mr-6 mb-1">
                        <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                        ></div>
                        <a
                            href="/blog"
                            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >Blog</a>
                    </li>

                    <li class="group relative mr-6 mb-1">
                        <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                        ></div>
                        <a
                            href="https://hachyderm.io/@("@")scottgal@("@")hachyderm.io"
                            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >Contact</a>
                    </li>

                  
                </ul>
            </div>
        </div>
    </div>

    <div
        class="pointer-events-none fixed inset-0 z-50 flex bg-black bg-opacity-80 opacity-0 transition-opacity lg:hidden"
        :class="isMobileMenuOpen ? 'opacity-100 pointer-events-auto' : ''"
    >
        <div class="ml-auto w-2/3 bg-green p-4 md:w-1/3">
            <i
                class="bx bx-x absolute top-0 right-0 mt-4 mr-4 text-4xl text-white"
                click="isMobileMenuOpen = false"
            ></i>
            <ul class="mt-8 flex flex-col">

                <li class="">
                    <a
                        href="/"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Intro</a
                    >
                </li>

                <li class="">
                    <a
                        href="/blog"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Blog</a
                    >
                </li>

                <li class="">
                    <a
                        href="/uses"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Uses</a
                    >
                </li>

                <li class="">
                    <a
                        href="/contact"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Contact</a
                    >
                </li>

            </ul>
        </div>
    </div>


<div>
    
    <div class="container mx-auto" id="contentcontainer">
   @RenderBody()

    </div>

    <div class="container mx-auto">
        <div
            class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12">
            <div class="mr-auto flex flex-col items-center sm:flex-row">
                <a href="/" class="mr-auto sm:mr-6">
                    <div class="svg-container">


                        <img src="/img/logo.svg" alt="logo"/>
                    </div>
                </a>
                <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
                    ©2024 Scott Galloway
                </p>
            </div>
            <partial name="_Socials"/>
        </div>
    </div>

</div>

</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/dist/htmx.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/highlightjs-cshtml-razor/dist/cshtml-razor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.min.js
"></script>



<script>
 
</script>
@await RenderSectionAsync("Scripts", required: false)
<script>
    document.addEventListener('DOMContentLoaded', function () {
        hljs.highlightAll();
        mermaid.initialize({ startOnLoad: true });
    });
    document.body.addEventListener('htmx:afterSwap', function(evt) {
            // Call your JavaScript function here
            hljs.highlightAll();
        mermaid.run();
        
    });

</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J9VJNKV3PV"></script>

</body>
</html>