<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

    <meta
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport"
    />

    <title>Homepage | Atlas Template</title>

    <meta property="og:title" content="Homepage | Atlas Template" />

    <meta property="og:locale" content="en_US" />

 

    <meta
        name="description"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    />

    <link rel="icon" type="image/png" href="img/favicon.png" />

    <meta property="og:site_name" content="Atlas Template" />

    <meta property="og:image" content="img/social.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
 
   

    <link
        crossorigin="crossorigin"
        href="https://fonts.gstatic.com"
        rel="preconnect"
    />

    <link
        as="style"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="preload"
    />

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    />

    <link
        rel="stylesheet"
        href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />

    <link
        crossorigin="anonymous"
        href="/css/dist/main.css" asp-append-version="true"
        media="screen"
        rel="stylesheet"
    />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css"
    />

    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <!--Alpine Js V3-->
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>


<body
    x-data="global()"
    x-init="themeInit()"
    :class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative' : ''"
    class="dark:bg-primary"
>

<div id="main">
    <div class="container mx-auto">
        <div class="flex items-center justify-between py-6 lg:py-10">
            <a href="/" class="flex items-center">
      <span href="/" class="mr-2">
          <div class="svg-container">
              <img src="img/logo.svg" alt="logo"/>
          </div>
          
      </span>
            </a>
            <div class="flex items-center lg:hidden">
                <i
                    class="bx mr-8 cursor-pointer text-3xl text-primary dark:text-white"
                    click="themeSwitch()"
                    :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"
                ></i>

                <svg
                    width="24"
                    height="15"
                    xmlns="http://www.w3.org/2000/svg"
                    click="isMobileMenuOpen = true"
                    class="fill-current text-primary dark:text-white"
                >
                    <g fill-rule="evenodd">
                        <rect width="24" height="3" rx="1.5" />
                        <rect x="8" y="6" width="16" height="3" rx="1.5" />
                        <rect x="4" y="12" width="20" height="3" rx="1.5" />
                    </g>
                </svg>
            </div>
            <div class="hidden lg:block">
                <ul class="flex items-center">

                    <li class="group relative mr-6 mb-1">
                        <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                        ></div>
                        <a
                            href="/"
                            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >Intro</a
                        >
                    </li>

                    <li class="group relative mr-6 mb-1">
                        <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                        ></div>
                        <a
                            href="/blog"
                            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >Blog</a
                        >
                    </li>

                    <li class="group relative mr-6 mb-1">
                        <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                        ></div>
                        <a
                            href="/uses"
                            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >Uses</a
                        >
                    </li>

                    <li class="group relative mr-6 mb-1">
                        <div
                            class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"
                        ></div>
                        <a
                            href="/contact"
                            class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary"
                        >Contact</a
                        >
                    </li>

                    <li>
                        <i
                            class="bx cursor-pointer text-3xl text-primary dark:text-white"
                            click="themeSwitch()"
                            :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"
                        ></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div
        class="pointer-events-none fixed inset-0 z-50 flex bg-black bg-opacity-80 opacity-0 transition-opacity lg:hidden"
        :class="isMobileMenuOpen ? 'opacity-100 pointer-events-auto' : ''"
    >
        <div class="ml-auto w-2/3 bg-green p-4 md:w-1/3">
            <i
                class="bx bx-x absolute top-0 right-0 mt-4 mr-4 text-4xl text-white"
                click="isMobileMenuOpen = false"
            ></i>
            <ul class="mt-8 flex flex-col">

                <li class="">
                    <a
                        href="/"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Intro</a
                    >
                </li>

                <li class="">
                    <a
                        href="/blog"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Blog</a
                    >
                </li>

                <li class="">
                    <a
                        href="/uses"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Uses</a
                    >
                </li>

                <li class="">
                    <a
                        href="/contact"
                        class="mb-3 block px-2 font-body text-lg font-medium text-white"
                    >Contact</a
                    >
                </li>

            </ul>
        </div>
    </div>


    <div><div class="container mx-auto">
            <div class="border-b border-grey-lighter ">
                <div>
                    <img src="img/author.png?width=64&height=64&format=webp" asp-append-version="true" class="h-16 w-16 mask mask-circle" alt="author"  />
                </div>
                <h1
                    class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
                >
                    Hi, I’m Scott Galloway
                </h1>
                <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
                    A lead developer, ertswhile CTO, senior web developer etc...based in Scotland in the UK
                </p>
                <a
                    href="/"
                    class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
                >
                    Say Hello!
                </a>
            </div>

            <div class="border-b border-grey-lighter py-16 lg:py-20">
                <div class="flex items-center pb-6">
                    <img src="img/icon-story.png" alt="icon story" />
                    <h3
                        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
                    >
                        My Story
                    </h3>
                </div>
                <div>
                    <p class="font-body font-light text-primary dark:text-white">
                        This site is a collection of my thoughts, ideas, and projects. I'm always building SOMETHING so decided too share both how I build these somethings and what I build.
                    </p>
                </div>
            </div>

            <div class="py-16 lg:py-20">
                <div class="flex items-center pb-6">
                    <img src="img/icon-blog.png" class="w-8" alt="icon story" />
                    <h3
                        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
                    >
                       Blog Posts
                    </h3>
                    <a
                        href="/blog"
                        class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                    >
                        All posts
                        <img
                            src="img/long-arrow-right.png"
                            class="ml-3"
                            alt="arrow right"
                        />
                    </a>
                </div>
                <div class="pt-8" id="content">
                    @RenderBody()
                </div>
            </div>

            <div class="pb-16 lg:pb-20">
                <div class="flex items-center pb-6">
                    <img src="/assets/img/icon-project.png" alt="icon story" />
                    <h3
                        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
                    >
                        My Projects
                    </h3>
                </div>
                <div>

                    <a
                        href=" / "
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
        <span class="w-9/10 pr-8">
          <h4
              class="font-body text-lg font-semibold text-primary dark:text-white"
          >
            TailwindCSS
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
            Rapidly build modern websites without ever leaving your HTML.
          </p>
        </span>
                        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
                    </a>

                    <a
                        href=" / "
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
        <span class="w-9/10 pr-8">
          <h4
              class="font-body text-lg font-semibold text-primary dark:text-white"
          >
            Maizzle
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
            Framework for Rapid Email Prototyping
          </p>
        </span>
                        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
                    </a>

                    <a
                        href=" / "
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
        <span class="w-9/10 pr-8">
          <h4
              class="font-body text-lg font-semibold text-primary dark:text-white"
          >
            Alpine.js
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
            Think of it like Tailwind for JavaScript.
          </p>
        </span>
                        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
                    </a>

                    <a
                        href=" / "
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
        <span class="w-9/10 pr-8">
          <h4
              class="font-body text-lg font-semibold text-primary dark:text-white"
          >
            PostCSS
          </h4>
          <p class="font-body font-light text-primary dark:text-white">
            A tool for transforming CSS with JavaScript
          </p>
        </span>
                        <span class="w-1/10">
          <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
        </span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div
            class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12"
        >
            <div class="mr-auto flex flex-col items-center sm:flex-row">
                <a href="/" class="mr-auto sm:mr-6">
                    <img src="/assets/img/logo.svg" alt="logo" />
                </a>
                <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
                    ©2024 Scott Galloway
                </p>
            </div>
            <div class="mr-auto flex items-center pt-5 sm:mr-0 sm:pt-0">

                <a href="https://github.com/ " target="_blank">
                    <i
                        class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-github"
                    ></i>
                </a>

                <a href="https://codepen.io/ " target="_blank">
                    <i
                        class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-codepen"
                    ></i>
                </a>

                <a href="https://www.linkedin.com/ " target="_blank">
                    <i
                        class="text-4xl text-primary dark:text-white pl-5 hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-linkedin"
                    ></i>
                </a>

            </div>
        </div>
    </div>

</div>

<script src="/assets/js/main.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>