<div class="mr-auto flex items-center pt-6 sm:mr-0 sm:pt-0 space-x-3 text-2xl ">

    <a href="https://github.com/scottgal/" target="_blank">
        <i class="text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-github"></i>
    </a>

    <a href="https://hachyderm.io/@@scottgal@@hachyderm.io" target="_blank">
        <i class=" text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-mastodon"></i>
    </a>

    <a href="https://www.linkedin.com/in/scott-galloway-91608691/" target="_blank">
        <i class=" text-primary dark:text-white hover:text-secondary dark:hover:text-secondary transition-colors bx bxl-linkedin"></i>
    </a>

</div>