<div id="toast" class="toast toast-bottom fixed z-50 hidden ">
    <div id="toast-message" class="alert ">
        <div>
            <span id="toast-text" class="font-bold dark:text-white text-black">Notification message</span>
        </div>
    </div>
    <p class="hidden right-1 bx-copy  cursor-pointer alert-success alert-warning alert-error alert-info overflow-y-hidden"></p>
</div>